.doctordashboard{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    border:none;
    background-color:bisque;
    overflow-y:scroll;
}

.appointment{
    display:flex;
    color:red;
}