.home {
    display: flex;
    flex-direction: row;
}

.home-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.home-image img {
    
    width: 100%;
    height: 100%;
}

.home-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    /* margin-right: 0; */
}

.home-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.home-content h4:last-child {
    color: #ff8A71;
}

.home-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.home-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    margin-bottom: 2rem;
}

.home-section-padding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upper-text {
    text-align: center;
    width: 50%;
}